<mat-list>
  <mat-list-item routerLink="{{ routes.PROJECTS }}" routerLinkActive="active">
    <mat-icon>assignment</mat-icon> Projects
  </mat-list-item>

  <mat-list-item routerLink="{{ routes.DRIVE }}" routerLinkActive="active">
    <mat-icon> memory </mat-icon> Drive
  </mat-list-item>

  <mat-list-item routerLink="{{ routes.MOTOR }}" routerLinkActive="active">
    <mat-icon> filter_tilt_shift </mat-icon> Motor
  </mat-list-item>

  <mat-list-item routerLink="{{ routes.LOAD }}" routerLinkActive="active">
    <mat-icon> fitness_center </mat-icon> Load
  </mat-list-item>

  <mat-list-item routerLink="{{ routes.RESULTS }}" routerLinkActive="active">
    <mat-icon> poll </mat-icon> Results
  </mat-list-item>
</mat-list>
