<mat-toolbar class="header">
  <div class="header__title">
    <button class="header__title-button" mat-mini-fab (click)="openMenu()">
      <mat-icon *ngIf="!isMenuOpened" class="header__title-button-icon"
        >menu</mat-icon
      >
      <mat-icon *ngIf="isMenuOpened" class="header__title-button-icon"
        >arrow_back</mat-icon
      >
    </button>
    <h6 class="header__title-text">INMOTIVE</h6>
  </div>

  <div class="header-toolbar">
    <app-select-project
      [projects]="firstFiveProjects"
      [project]="selectedProject"
      (selectProjectEvent)="selectProject($event)"
    ></app-select-project>
    <button
      mat-stroked-button
      class="unlock-button"
      [disabled]="clicked"
      (click)="logout(); clicked = true"
    >
      Logout
    </button>
  </div>
</mat-toolbar>
